# FPGA Pin Configuration File

# adrians pcf
# final version no testing

set_io RED1 34
set_io RED0 43
set_io GRN1 36
set_io GRN0 42
set_io BLU1 38
set_io BLU0 28
set_io HSYNC 46
set_io VSYNC 2

set_io trig 44
set_io echo 48

set_io -pullup yes clk_12M 20


# Holden's testing breadboard pcf

#set_io led 9
#set_io trig 44
#set_io echo 48
#
#set_io dig0 38
#set_io dig1 28
#
#set_io seg[6] 25
#set_io seg[5] 26
#set_io seg[4] 27
#set_io seg[3] 32
#set_io seg[2] 35
#set_io seg[1] 31
#set_io seg[0] 37
#
#set_io dig2 46
#set_io dig3 19
#
#set_io seg2[6] 18
#set_io seg2[5] 42
#set_io seg2[4] 21
#set_io seg2[3] 10
#set_io seg2[2] 12
#set_io seg2[1] 43
#set_io seg2[0] 36
#
#set_io btn 20
#
#set_io led_save 11
#
#set_io RED1 4
#set_io RED0 3
#set_io GRN1 45
#set_io GRN0 47
#set_io BLU1 9
#set_io BLU0 6
#set_io HSYNC 34
#set_io VSYNC 23
#
#set_io -pullup yes clk_12M 13